.welcome {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px;
  padding-right: 40px;
  margin: 0;
  border: 2px white solid;
  background-color: white;
  float: left;
  border-bottom-right-radius: 50px;
  text-align: center;
}

.heading {
  text-indent: 50px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  margin: 100px;
  margin-right: 500px;
}

.button {
  background-color: #241eb2;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  display: block;
  text-align: center;
  padding: 20px;
  width: 30%;
  margin:auto;
  display:block;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

b {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 22px;
}


.horace {
  color: white;
  font-family: 'Alex Brush', cursive;
  font-size: 70px;
  padding: 10px 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote-h {
  font-size: 30px;
  text-align: right;
  padding-right: 100px;
  padding-bottom: 0;
  font-family: 'Alex Brush', cursive;
}

.footer {
  background-color: #241eb2;
  padding: 50px;
  color: white;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.headingtext {
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 800;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.content {
  margin: 80px;
}

.imagewrap-right {
  float: right;
}

.imagewrap-left {
  float: left;
}

.challenge {
  font-weight: 800;
  color: #241eb2;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  margin: 0;
  padding: 0;
  width: 100%;
}

table, td {
  border-collapse: collapse;
}

th {
  padding-top: 50px;
}

td {
  padding: 0 50px 80px;
  text-align: left;
}

.trio-img {
  text-align: center;
  padding: 0 20px 20px;
}

.resource {
  border: 3px solid #241eb2;
  padding: 15px 15px 8px;
  border-radius: 30px;
  color: #241eb2;
  text-align: center;
}
