@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

a {
  color: black;
  font-style: normal;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

p, ol, ul, blockquote, bdo, table, caption, a {
  font-family: 'Raleway', sans-serif;
  font-size: '12px';
}

p, h1, h2, h3, h4, h5, h6, ol, ul, blockquote, ol, ul, blockquote, bdo, table, caption {margin: 10px 40px}

img {margin: 40px 10px 0px;}

.pagebar {
  margin: 30px 40px 20px 40px;
}

.background-exercises {
  border: 4px black solid;
  padding: 30px;
  font-size: 120%;
  font-style: bold;
  text-transform: uppercase;
  background-image: url("/images/holy-spirit-sky-banner.jpg");
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

td {
  text-align: center;
}
