@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');

.pagebar {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, {
  font-family: 'Lato', sans-serif, !important;
}

p, ol, ul, blockquote {
  font-family: 'Raleway', sans-serif;
  font-size: '12px';
}
