p {
  color: red;
}

body {
  margin: 30px;
}

h1 {
  color:blue;
  font-family: Verdana;
}

#id1 {
  text-align: center;
}

.class1 {
  font-family: Georgia;
}

span {
  font-weight: bold;
  color: red;
}

.class-example {
  font-style: italic; 
}

#id-example {
  text-decoration: underline;
}
